services:
  database:
    image: postgres
    environment:
      POSTGRES_USER: app_user
      POSTGRES_DB: app_db
      POSTGRES_PASSWORD: app_password
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U app_user -d app_db" ]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    image: app
    entrypoint: ./entrypoint.sh
    build: .
    ports:
      - "8000:8000"
    depends_on:
      database:
        condition: service_healthy
    env_file:
      - .env
    environment:
      DATABASE_URL: ${DATABASE_URL}
    volumes:
      # Python
      - ./app:/app/app
      - ./tests:/app/tests

      # Scripts
      - ./entrypoint.sh:/app/entrypoint.sh

      # Migrations
      - ./alembic:/app/alembic
      - ./alembic.ini:/app/alembic.ini

      # .env
      - ./.env:/app/.env

volumes:
  pgdata: